*{
    margin: 0;
    padding: 0;
}
#homeBG{
     background: linear-gradient(rgba(0, 0, 0, 0.95),rgba(45, 189, 178, 0.15)), url(IMG/UPDF_BG.jpg);
     background-size: cover;
     background-position: center;
     height: 200vh;
}
.LogoMain{
     width: 140px;
     position: absolute;
     top: 6%;
     left: 3%
}
.headtext{
     font-family: 'Bruno Ace', cursive;
     text-align: center;
     color:blanchedalmond;
     padding-top: 180px;
}
.headtext h1{
     font-size: 200px;
     color:blanchedalmond;
    
}
.headtext p{
    font-size: 20px;
    color:rgb(255, 255, 255);
    font-style: italic;

}
.Main-btn{ 
    margin:50px auto 0;
    font-size: 30px;
}
.Main-btn a{ 
     width:150px;
     text-decoration: none;
     display:inline-block;
     margin : 0 20px;
     padding : 10px 0;
     color : cyan;
     border : 0.7px solid white  ;
     position: relative;
     z-index: 1;
     transition: 0.12s;
    }

.Main-btn a span{
     width: 100%;
     height: 0%;
     position: absolute;
     top: 0;
     left: 0;
     background: cyan;
     z-index: -1;
     transition: 0.12s;
}
.Main-btn a:hover span{
     height:100%;

}
.Main-btn a:hover{
    color: black;

}


